@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/iAWriterDuospace-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/iAWriterDuospace-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
 }
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/iAWriterDuospace-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/iAWriterDuospace-BoldItalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

h1 {
    font-family: "iAWriterDuospace";
    font-weight: bold;
}


p {
    font-family: "iAWriterDuospace";
}
