<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[[PAGE TITLE]]</title>
    <link rel="stylesheet" href="../projects.css" />
  </head>
  <body>
    <a class="home" href="../../">back to home</a>
    <section class="no-margin-section">
      <img class="teaser" src="teaser.jpg" />
    </section>
    <section class="margin-section">
      <div class="header">
        <span class="project-title">[[PROJECT TITLE]]</span>
        <span class="project-subtitle"> [[PROJECT SUBTITLE]] </span>
        <span class="author-names"
          >[[AUTHOR NAME]], [[AUTHOR NAME]], and [[AUTHOR NAME]]</span
        >
        <div class="links">
          <span>Published at [[VENUE]] [[YEAR]]</span>
          <a href="[[LINK TO PDF]]" target="_blank" rel="noopener noreferrer">
            Paper PDF
          </a>
          <a
            href="[[LINK TO SOMETHING ELSE]]"
            target="_blank"
            rel="noopener noreferrer">
            Some other link
          </a>
        </div>
      </div>

      <h3 class="section-title">Abstract</h3>
      <p class="abstract">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        laboriosam voluptate quia id repellat tenetur, consectetur repudiandae,
        laudantium fuga corrupti debitis aspernatur tempora minus sit mollitia
        perspiciatis assumenda. Aut omnis saepe nemo expedita ipsa sunt ex
        facere sint quisquam! Fugit quos eaque doloremque impedit optio nostrum.
        Nulla quis quae expedita, beatae, accusamus et excepturi necessitatibus,
        at quas laboriosam sequi possimus sed cum illum quia? Iure ad,
        asperiores at vitae nulla vel repellendus, possimus eum quia numquam
        ipsum suscipit, nostrum similique eius autem aliquam facilis
        exercitationem deleniti! Tenetur, ut nobis, optio nesciunt quod unde
        facere qui est, sequi dolorum atque ullam quisquam architecto! Corrupti
        excepturi quod veritatis doloribus repudiandae provident fugiat
        reiciendis exercitationem. Commodi alias odit voluptates suscipit, et
        inventore officiis nesciunt vel iure, nulla nemo aperiam? Velit
        consequatur molestiae nihil facilis ea incidunt nobis alias sed
        explicabo magni, mollitia delectus fugit blanditiis tempore earum. At
        necessitatibus laborum molestias sed consequuntur.
      </p>
      <h3 class="section-title">Bibtex</h3>
      <pre class="bibtex">
[[REPLACE WITH YOUR BIBTEX]]
@inproceedings{,
  title={Assimilation to Adaptation: Remixing the Borg Implant},
  author={Seven of Nine and Kathryn Janeway and The Doctor},
  booktitle={Proceedings of the 2380 CHI Conference on Human Factors in Computing Systems},
  pages={1--20},
  year={2380}
}
</pre
      >
    </section>
    <iframe
      class="no-margin-section video-iframe"
      src="https://www.youtube.com/embed/M64voQEIY9k?si=ndwh5cFSXuFxjzSN"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
  </body>
</html>
