@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
 }
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'iAWriterDuospace';
    src: url('assets/fonts/iAWriterDuospace-BoldItalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@lost gutter 60px;

body {
    font-family: 'iAWriterDuospace';
    color: #222222;
}

.main-container-section {
    lost-utility: clearfix;
}

.half-col {
    lost-column: 1/2;
}

.page-headline {
    font-weight: bold;
}

.page-subheadline {
    font-style: italic;
}

@media only screen and (max-width: 1000px) {
    .img-fullsize {
        display: none;
    }
}


@media only screen and (min-width: 1000px) {
    .img-halfsize {
        display: none;
    }
}
